# Python bytecode
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.env
env/
venv/
.venv/

# Pytest
.pytest_cache/

# IDEs and editors
.vscode/
.idea/

# OS files
.DS_Store

