streamlit
langchain-core
langchain-community
transformers
meilisearch
pydantic
pydantic-settings
pytest
timefhuman
geopy
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu
playwright
